* {
  box-sizing: border-box;
}

.promo {
  height: 100vh;
  background-color: #00b712;
  background-image: linear-gradient(315deg, #00b712 0%, #5aff15 74%);
  overflow: hidden;
}

h1 {
  text-align: center;
  margin-bottom: 100px;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card-item {
  width: 400px;
  height: 200px;
}
